@import '../../../../colors.scss';

mat-card {
    max-width: 300px;

    mat-card-title {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        font-size: larger;

        .drop-down-menu-container {
            cursor: not-allowed;
        }

        .name-input {
            max-width: 70%;
            border-radius: 4px;
            padding-left: 4px;
            padding-top: 4px;
            padding-bottom: 4px;
            background-color: transparent;
            color: $light-color;
            // border-color: darken-color($light-color, 20);
            // height: 28px;
            background-color: darken-color($mid-dark-color, 5);
            border-style: none none none none;
            font-size: large;

            &:focus {
                outline: none;
                background-color: darken-color($mid-dark-color);
                // border-color: $light-color;
            }

            &:hover {
                background-color: hover-color($mid-dark-color);
            }

        }
    }

    .index-img-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 250px;
            max-height: 150px;
        }
    }

    .image-uploader-container {
        display: flex;
        justify-content: center;
        padding: 5px;

        .file-input {
            display: none;
        }

        .image-uploader-ripple {
            width: 200px;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;

            .dark-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($mid-dark-color, .33);
            }

            mat-icon {
                z-index: 100;
                color: $light-color;
            }

            &:hover {
                background-color: hover-color($mid-dark-color);
            }
        }
    }

    mat-card-actions {
        button {
            height: 28px;
            cursor: pointer;
            border-radius: 8px;
            color: $dark-color;
            font-weight: bolder;
            border: none;
        }

        .navigate-button {
            width: 100%;
            background-color: $primer-color;

            &:hover {
                background-color: hover-color($primer-color);
            }

            &:disabled {
                background-color: darken-color($primer-color);
                cursor: not-allowed;
            }
        }

        .edit-buttons-container {
            display: flex;
            justify-content: space-between;
            width: 100%;

            button {
                width: 75px;

                &.create-button,
                &.save-button {
                    background-color: $primer-color;

                    &:hover {
                        background-color: hover-color($primer-color);
                    }

                    &:disabled {
                        background-color: darken-color($primer-color, 10);
                        color: $mid-dark-color;

                        &:hover {
                            cursor: not-allowed;
                        }
                    }
                }

                &.cancel-button {
                    background-color: $error-color;

                    &:hover {
                        background-color: hover-color($error-color);
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}