@import "../../../colors.scss";

.container {
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 100%;
    // background-color: $mid-dark-color;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .add-button {
        width: 100%;
        height: 28px;
        background-color: $primer-color;
        border: 0;

        &:hover {
            background-color: hover-color($primer-color);
            cursor: pointer;
        }
    }

    app-plan-card,
    app-add-plan-component {
        display: flex;
        // flex: 1;
        flex-shrink: initial;
        flex-direction: column;
        margin-top: 10px;
    }

    app-add-plan-component {
        width: 100%;
        padding: 5px;
        max-width: 350px;
    }
}