@import '../../../../colors.scss';

.container {
    width: 200px;
    background-color: $mid-dark-color;
    padding: 5px;

    .header {
        height: 30px;
        margin-top: 5px;
        margin-bottom: 5px;

        span {
            font-size: medium;
        }
    }

    .index-img-container {
        max-width: 200px;
        max-height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 200px;
            max-height: 150px;
        }
    }

    .total-cost-container {
        max-height: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .travel-dates-container {
        height: 25px;
        margin-bottom: 15px;

        span {
            font-size: small;
        }
    }

    .select-button-container {
        width: 100%;

        button {
            height: 25px;
            width: 100%;
            background-color: $primer-color;
            border: none;
            font-weight: bolder;
            color: $dark-color;
            cursor: pointer;
        }
    }
}