<div class="container">
    <div class="header">
        <span class="name">{{plan.name}}</span>
    </div>
    <div class="index-img-container">
        <img src="{{plan.indexImagePath}}" alt="">
    </div>
    <div class="total-cost-container">
        <span class="total-cost">{{2555}}</span>
    </div>
    <div class="travel-dates-container">
        <span>{{plan.travelFrom}} - {{plan.travelTo}}</span>
    </div>
    <div class="select-button-container">
        <button (click)="navigate()">Select</button>
    </div>
</div>