<div class="container">
    <div class="header">
        <span class="name">{{plan.name}}</span>
    </div>
    <div class="index-img-container">
        <img src="{{getImageUrl()}}" alt="">
    </div>
    <div class="total-cost-container">
        <span class="total-cost"></span>
    </div>
    <div class="travel-dates-container">
        <span>{{plan.travelFrom | date:'yy.MM.dd'}} - {{plan.travelTo | date:'yy.MM.dd'}}</span>
    </div>
    <div class="select-button-container">
        <button (click)="navigate()">Select</button>
    </div>
</div>
