@import "../../../colors.scss";

.main-container {
    width: 100%;
    display: flex;
    justify-content: center;

    table {
        max-width: 250px;
        background-color: darken-color($mid-dark-color);
        color: $light-color;

        th,
        td {
            padding: 8px 16px;
            text-align: left;
        }

        th {
            font-weight: bold;
            background-color: darken-color($mid-dark-color, 15%);
        }
    }
}

.mat-mdc-row:hover {
    background-color: $mid-dark-color;
    cursor: pointer;
}

.mat-mdc-table {
    max-width: 250px !important;
    width: 250px !important;
}