@import '../../../colors.scss';

.add-button {
    width: 100%;
    height: 28px;
    background-color: $primer-color;
    border: 0;

    &:hover {
        background-color: hover-color($primer-color);
        cursor: pointer;
    }

    mat-icon{
        color: $dark-color;
    }
}