.layout {
    display: flex;
    height: 90vh;

    .planner-container {
        flex: 1;
        // padding: 1rem;
        overflow-y: hidden;
        height: 90vh;
    }

    .map {
        flex: 2;
        // padding: 1rem;
        height: 90vh;
    }
}