@import '../../../../colors.scss';

.main-container {
    display: flex;
    flex-direction: row;

    .user-button {
        margin: 0;
        display: inline-block;

        :hover {
            background-color: $mid-dark-color;
            cursor: pointer;
        }

        label {
            padding: 15px;
        }
    }
}