<div class="main-container">
    @if(!plan) {
    <!-- <span>Loading...</span> -->
    } @else {
    <div class="back-button-container">
        <button (click)="onBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    <div class="details-container">
        <div class="plan-name"><span>{{plan.name}}</span></div>
        <div class="index-img-container">
            <img src="{{getImageUrl()}}" alt="">
        </div>
        <div class="travel-dates-container">
            <span>{{plan.travelFrom | date:'yy.MM.dd'}} - {{plan.travelTo | date:'yy.MM.dd'}}</span>
        </div>
        <div class="travel-day-container">
            @for(travelDay of plan.travelDays; track $index){
            <app-travel-day [travelDay]="travelDay"></app-travel-day>
            }
        </div>
    </div>
    }
    @if(showAddForm){
    <div class="add-travel-day-container">
        <form [formGroup]="addTravelDayFormGroup">
            <mat-form-field>
                <input matInput type="text" formControlName="travelDayName" [placeholder]="'Travel day name'" />
            </mat-form-field>
            <button matButton (click)="onSave()">Save</button>
        </form>
    </div>
    }
    @if(!showAddForm){
        <app-add-button (click)="onAddTravelDay()"></app-add-button>
    }
</div>