@import '../../../../colors.scss';

.main-container {
    // height: 90vh;
    // overflow-y: auto;

    /* Firefox */
    // scrollbar-width: thin;
    // scrollbar-color: #000 #2e2e2e;
    // scroll-behavior: smooth;
    // direction: rtl;

    margin: 8px;

    .back-button-container {
        margin-bottom: 8px;

        button {
            background-color: transparent;
            width: 48px;
            border: none;
            cursor: pointer;
            padding: 4px;
            border-radius: 4px;
            display: flex;
            align-content: center;

            &:hover {
                background-color: hover-color($mid-dark-color);
            }

            mat-icon {
                color: $light-color;
            }
        }
    }

    .plan-name {
        font-size: 24px;
        font-weight: normal;
        background-color: $mid-dark-color;
        padding: 8px;
        border-radius: 8px;
        margin-bottom: 8px;
    }

    .index-img-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: $mid-dark-color;
        // border-radius: 8px;
        margin-bottom: 8px;

        img {
            max-width: 250px;
            max-height: 250px;

            border-radius: 8px;
        }
    }

    .travel-dates-container {
        margin-bottom: 8px;
        font-size: 16px;
        display: flex;
        justify-content: flex-end;
        padding-right: 4px;
    }

    // .travel-from-to-container {
    //     display: flexbox;
    //     flex-direction: column;
    // }

    .travel-day-container {
        margin: 16px 0px 0px 0px;
        direction: ltr;
    }

}



/* Webkit (Chrome, Edge, Safari) */
.main-container::-webkit-scrollbar {
    width: 8px;
}

.main-container::-webkit-scrollbar-track {
    background: #2e2e2e;
    border-radius: 8px;
}

.main-container::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 8px;
}

.main-container::-webkit-scrollbar-thumb:hover {
    background: #1a1a1a;
}