//https://flatuicolors.com/palette/defo
@use "sass:color";

$dark-color: #2c3e50;
$light-color: #ecf0f1;
$primer-color: #27ae60;
$secondary-color: #f1c40f;
$error-color: #e74c3c;

$silver-color: #bdc3c7;
$concrete-color: #95a5a6;
$mid-dark-color: #3b4d5f;

// @function hover-color($color) {
//     @return oklch(from $color l c h / 0.75);
// }

@function hover-color($color, $amount: 5%) {
    @return color.adjust($color, $lightness: $amount);
}

@function darken-color($color, $amount: 10%) {
    @return color.adjust($color, $lightness: -$amount);
}